<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>CarApp Data</title>
    <link href="Styles\carStyle.css" type="text/css" rel="stylesheet">
</head>

<body>
    <h1>Car Database </h1>
    <div align="center" ng-app="CarApp" ng-controller="CarCtrl">
      
        <div class="dataTable">
            <table class="dataTable">
                <tr>
                    <th></th>
                    <th>
                        <form ng-submit="search()" >
                            <input class="searchBox" ng-model="searchTerm" type="search" ng-cloak>
                        </form>
                        <button class="clearButton" ng-click="clear()" ng-cloak>Clear filter</button>
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th class="dataColumn"><button class="button" ng-click="orderID()">Id</button></th>
                    <th class="dataColumn"><button class="button" ng-click="orderYear()">Production Year</button></th>
                    <th class="dataColumn"><button class="button" ng-click="orderBrand()">Brand </button></th>
                </tr>

                <tr ng-repeat="car in carsView"
                    ng-cloak
                    ng-class-even="'evenRow'"
                    ng-class-odd="'oddRow'">
                    <td class="dataColumn">{{car.Id}}  </td>
                    <td class="dataColumn">{{car.ProductionYear}}</td>
                    <td class="dataColumn"> {{car.Brand}} </td>
                </tr>
            </table>
        </div>

    </div>
</body>
</html>